{% extends 'polls/base.html' %}

{% block content %}
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>
            #
        </th>
        <th>
            Album
        </th>
        <th>
            Artist
        </th>
    </tr>
    </thead>
    <tbody>

{% for album in albums %}
    <tr>
        <td>
            {{ forloop.counter }}
        </td>
        <td>
            <a href="#">{{ album.title }}</a>
        </td>
        <td>
            {{ album.artist }}
        </td>
        <td>
            Default
        </td>
    </tr>
{% endfor %}

{% endblock %}